.inicio-container {
	top: 1rem;
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	/*justify-content: center;*/
	align-items: center;
	padding: 4rem 2rem;
	background-color: #000;
	color: white;
	text-align: center;
}

.inicio-content {
	max-width: 800px;
	width: 100%;
}

.inicio-titulo {
	font-size: 3rem;
	font-weight: bold;
	font-family: 'Oswald', sans-serif;
	color: var(--color-secundario);
	margin-bottom: 1rem;
}

.inicio-subtitulo {
	font-family: 'Oswald', sans-serif;
	font-size: 1.25rem;
	line-height: 1.6;
	color: #ddd;
}
